{% load render_table from django_tables2 %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="fcq_Natnael_noDjango.css">

    <title>Bootstrap Grid System!</title>

    <style>
	#instruction{
		background-color: #99d6ff;
		width: 30%;
		height: 40%;
		border: 1px solid black;
		padding: 10px;
	

	}
</style>
  </head>
  <body style= "background-color: #DAF7A6">
    <!-- insert your code here -->
    <div class="dropdown" style="  margin-top: 2%;margin-right: 2%;float:right;clear:left" >
  		<button class="dropbtn">SELECT COURSE</button>
  		<div class="dropdown-content">
    		<a href="#">Course 1</a>
    		<a href="#">Course 2</a>
    		<a href="#">Course 3</a>
  		</div>
	  </div>


    <div id="sortable1" class="bodycontainer" style="height:300px;width: 250px;  margin-right: 2%; margin-top: 2%; overflow: scroll;float:right;clear:right">  

		   {% render_table course %}
		
    </div>

    <div id="Optimizing_Fall" class= "Optimizing_container" style = "border: groove; height:280px; width: 500px;float:right;clear:right;margin-right: 15% ">
          <table class="table" >
              <thead class="thead-dark">
                <tr>
                  <th scope="col"></th>
                  <th scope="col">Course</th>
                  <th scope="col">Class</th>
                  <th scope="col">Credit</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                
              </tbody>
            </table>
    </div>

     <div id="Optimizing_Fall" class= "Optimizing_container" style = "border: groove; height:280px; width: 500px;float:right;clear:left">
          <table class="table" >
              <thead class="thead-dark">
                <tr>
                  <th scope="col"></th>
                  <th scope="col">Course</th>
                  <th scope="col">Class</th>
                  <th scope="col">Credit</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                
              </tbody>
            </table>
    </div>
    
    <button class="btn optimize" style="float:right" >OPTIMIZE</button>
    <div class="slidecontainer" style="float:right" >
    	<h4>RANGE</h4>
  		<input type="range" min="1" max="100" value="50" class="slider" id="myRange">
	</div>
        
    <div id= "instruction" >
		
		Instruction: <br>
		<br>
		Below list are the things this website can do for you.

			<ul>
			  <li>Calculate the level of difficulty of your semester</li>
			  <li>Claculate the total amount hours needed each week for each course</li>
			  <li>Add and drop classes from course list to semester </li>
			  <li>Drag and drop classes between semester if needed  </li>
			  
			</ul>
	</div>
  </body>
</html>
