{% load render_table from django_tables2 %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'main/css/fcq_Natnael.css' %}" type="text/css" />

    <title>Course lists</title>
  <script>
	  $( function() {
		  $( "#sortable1, #sortable2" ).sortable({
			  connectWith: ".bodycontainer"
		  }).disableSelection();
	  } );
  </script>
  </head>
  <body>
    <h1>
    <div class="dropdown_courses" style=" float:right;margin-right: 2%; margin-top: 2%;" >
  		<button class="dropbtn">SELECT COURSE</button>
  		<div class="dropdown-content">
    		<a href="#">Course 1</a>
    		<a href="#">Course 2</a>
    		<a href="#">Course 3</a>
  		</div>

	  </div>
    <form method="post" action="/data">
      {% csrf_token %}
      <div class="slidecontainer" style="float:left">
        <p>Select your desired semester challenge level</p>
        <input type="range" class="form-control" min="1" max="6" value="{{ challenge }}" id="challenge_slider" name="challenge">

        <p>Select your desired semester work load</p>
        <input type="range" class="form-control" min="1" max="16" value="{{ hrsPerWeek }}" id="workload_slider" name="hrsPerWeek">
      </div>
      <button type="submit" class="btn btn-success">Post</button>
    </form>


	


	<div id="sortable1" class="bodycontainer" style="height:500px;width: 250px; float:right;clear:right; margin-right: 2%; margin-top: 2%; overflow: scroll;">  

		   {% render_table course %}
		
	</div>

	<div id="sortable2" class="bodycontainer" style="height:500px;width: 250px; float:left;clear:right; margin-right: 2%; margin-top: 2%; overflow: scroll;">
		{% render_table course %}
	</div>


  </body>
</html>
