<!-- insert name here -->

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="fcq_Natnael_noDjango.css">

    <title>Bootstrap Grid System!</title>

  </head>
  <body style= "background-color: #DAF7A6">
    <!-- insert your code here -->
    <div class="dropdown" style=" float:right;clear:right; margin-top: 2%;margin-right: 2% " >
  		<button class="dropbtn">SELECT COURSE</button>
  		<div class="dropdown-content">
    		<a href="#">Course 1</a>
    		<a href="#">Course 2</a>
    		<a href="#">Course 3</a>
  		</div>
	  </div>


    <div id="sortable1" class="bodycontainer" style="height:300px;width: 250px;  margin-right: 2%; margin-top: 2%; overflow: scroll;float:right;clear:right">  

		   {% render_table course %}
		
    </div>

    <div id="Optimizing_Fall" class= "Optimizing_container" style = "border: groove; height:280px; width: 500px;float:right;clear:right">
          <table class="table" >
              <thead class="thead-dark">
                <tr>
                  <th scope="col"></th>
                  <th scope="col">Course</th>
                  <th scope="col">Class</th>
                  <th scope="col">Credit</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                
              </tbody>
            </table>

    </div>

     <div id="Optimizing_Spring" class= "Optimizing_container" style = "border: groove; height:280px; width: 500px;float:right">
        <table class="table" >
              <thead class="thead-dark">
                <tr>
                  <th scope="col"></th>
                  <th scope="col">Course</th>
                  <th scope="col">Class</th>
                  <th scope="col">Credit</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                
              </tbody>
            </table>
     </div>

     <div id="Optimizing_Spring" class= "Optimizing_container" style = "border: groove; height:280px; width: 500px">
        <table class="table" >
              <thead class="thead-dark">
                <tr>
                  <th scope="col"></th>
                  <th scope="col">Course</th>
                  <th scope="col">Class</th>
                  <th scope="col">Credit</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr> 
              </tbody>
            </table>
            <button class="btn optimize">OPTIMIZE</button>
            <div class="slidecontainer">
    			<h4>RANGE</h4>
  				<input type="range" min="1" max="100" value="50" class="slider" id="myRange">
			</div>
     </div>

   
  </body>
</html>
