beautifulsoup4==4.4.1
chardet==2.3.0
CppHeaderParser==2.7.4
dblatex==0.3.7.post1
decorator==4.0.6
defusedxml==0.4.1
dj-database-url==0.5.0
ecdsa==0.13
geopy==1.11.0
gyp==0.1
html5lib==0.999
lxml==3.5.0
Magic-file-extensions==0.2
mysql-connector-python==2.0.4
mysql-utilities==1.6.1
numpy==1.11.0
paramiko==1.16.0
pexpect==4.0.1
Pillow==3.1.2
ply==3.10
ptyprocess==0.5
pycrypto==2.6.1
pygame===1.9.1release
Pygments==2.1
pygpgme==0.3
pyliblzma==0.5.3
pyodbc==3.0.7
pysqlite==2.7.0
python-apt==1.1.0b1
scipy==0.17.0
scour==0.32
six==1.10.0
SOAPpy==0.12.22
virtualenv==15.0.1
wstools==0.4.3
